*{
    margin: 0px;
    padding: 0px;
}
@font-face {
    src: url("../font/Montserrat-Light.ttf");
    font-family: "montserrat";    
}
mark {
    background-color: rgba(255, 255, 255, 0);
    color: #8a3603;
}
h2{
    color: #8a3603;
}
body{
    font-family: "montserrat";
    font-weight: 300;
}
a{
    text-decoration: none;
    color: #000;
}
ul{
    list-style-type: none;
}
.cleaner{
    clear: both;
}
#header{
    width: 100%;
}
main{
    position: relative;
}
.center-block{
    width: 1200px;
    margin: 0px auto;
    position: relative;
    
}
#header{
	padding: 5px 0px;
    height: 60px;
}
#logo{
	float: left;
    width: 40px;
    height: 50px;
    padding-top: 16px;
    margin-left: 30px;
    position: relative;
    animation-name: logo;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes logo {
    from {right: 100px;}
    to {right: 0px;}
}
#logo h1{
	font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;
}
#nav{
    float: right;
	width: 650px;
	text-align: right;
    padding-top: 13px;
}
#nav ul li{
	display: inline-block;
	margin-right: 30px;
}
#nav ul li a{
	font-size: 18px;
	color:#000;
    font-weight: bold;
    transition: color 1s;
}
#nav ul{
	margin-top: 6px;
}
#nav ul .active-link a, #nav ul li a:hover{
	color: #8a3603;
}
#navigation{
    display: none;
}
#cover{
    width: 100%;
    height: 500px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background-image: url("../img/cover.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
#cover-us{
    width: 100%;
    height: 500px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background-image: url("../img/coverUs.jpg");
    background-size: cover;
    background-position: center;
    background-position-y: top;
    position: relative;
    z-index: 1;
}
#cover-gallery{
    width: 100%;
    height: 500px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background-image: url("../img/coverGallery.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}
#cover-contact{
    width: 100%;
    height: 500px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 80%);
    background-image: url("../img/coverContact.jpg");
    background-size: cover;
    background-position: center;
    background-position-y: top;
    position: relative;
    z-index: 1;
}
#content {
    background: #fff;
    position: absolute;
    width: 100%;
    border-radius: 5px;
    padding: 50px 0px;
    z-index: 2;
    filter: blur(0px);   
}
#title{
    position: absolute;
    z-index: 3;
    display: inline;
    background: none;
    top: -120px;
    width: 100%;
    text-align: center;
    animation-name: title;
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
}
@keyframes title {
    0%   {top:-200px;}
    100% {top:-120px;}
}
#title h1{
    margin-bottom: 10px auto;
    font-size: 40px;
    font-weight: 700;
    color: #994e20;
    background-color: #fff;
    display: inline;
    padding: 20px 40px;
}
.about{
    width: 100%;
    margin: 0px auto; 
    display: flex;
    justify-content: space-around;
}
#about .center-block{
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
}
#about2 .center-block{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
}
.left{
    width: 400px;
    position: relative;
    animation-name: right;
    animation-duration: 1s;  
    animation-fill-mode: forwards;
}
@keyframes right {
    from {left: 50px;}
    to {left: 0px;}
}
.align-right{
    text-align: right;
}
.right{
    width: 400px;
    position: relative;
    animation-name: left;
    animation-duration: 1s;  
    animation-fill-mode: forwards;
}
@keyframes left {
    from {right: 50px;}
    to {right: 0px;}
}
.img-text{
    width: 400px;
    margin-top: 100px;
}
.img-text img{
    width: inherit;
}
.img-text p{
    font-size: 20px;
}
#go-to{
    width: 100%;
    margin: 0px auto;
}
#go-to h2{
    text-align: center;
    padding-top: 100px;
    font-size:30px ;
}
#photos{
    width: 1000px;
    margin: 0px auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-top: 50px;
}
.photo img{
    width: 340px;  
}
#link-ka-galeriji {
    text-align: center;
    font-size: 30px;
    margin-top: 30px;
    position: relative;
    animation-name: link;
    animation-duration: 1s;  
    animation-fill-mode: forwards;
}
@keyframes link {
    from {right: 500px;}
    to {right: 0px;}
}
#link-ka-galeriji a{
    color: #000;
    transition: color 1s;
}
#link-ka-galeriji a:hover{
    color: #8a3603;
}
footer{
	width: 100%;
	background: #f8f8f8;
	padding: 15px 0px;
    margin-top: 60px;
}
#futer-main{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#design {
    display: flex;
    justify-content: center;
    margin-top: -20px;
    padding-bottom: 10px;
}
footer ul li a{
    color: #000;
    transition: color 1s;
}
footer ul .active-link a, footer ul li a:hover, footer h3{
	color: #994e20;
}
footer .fa-instagram-square, footer .fa-facebook-square, footer .fa-twitter-square{
    font-size: 25px;
    margin: 0px 10px;
}
.margin-10-0{
    margin: 10px 0;
}
.futer{
    text-align: center;
    width: 30%;
    display: inline;
    margin: 0px;
}
.futer h3, .futer p, .futer a{
    text-align: center;
    display: inline;
}
.futer li{
    display: inline;
}
#center{text-align: center;
}
#ideatrans{
    width: 100%;
    height: 400px;;
    background-image: url("../img/beans.jpg");
    background-position: bottom;
    background-size: cover;
    margin: 60px auto;
}
#transparent{
	width: 100%;
	height: inherit;
	background: rgba(255, 255, 255, 0.6);
	position: relative;
}
#transparent .center-block{
    display: flex;
    justify-content: space-between;
   padding-top: 80px;
}
.text{
   width: 25%; 
   padding: 20px 30px;
   background:rgba(255, 255, 255, 0.6);
   font-weight: 500;
}
.text h2{
    margin-bottom: 20px;
    text-align: left;
}
.text p{
    font-size: 18px;
}
#gallery{
    width: 100%;
    margin: 0px auto;
}
.row-first{
    position: relative;
    animation-name: first;
    animation-duration: 1s;  
    animation-fill-mode: forwards;
    display: flex;
    justify-content: space-around;
}
@keyframes first {
    from {right: 500px;}
    to {right: 0px;}
}
#row-second{
    position: relative;
    animation-name: second;
    animation-duration: 1s;  
    animation-fill-mode: forwards; 
    display: flex;
    justify-content: space-around;
}
@keyframes second {
    from {left: 500px;}
    to {left: 0px;}
}
.image{
   width: 540px; 
   margin: 0px 30px;
   padding-top: 80px;
}
.image img{
    width: 540px; 
    transition: width 0.2s, height 0.2s;  
}
.image img:hover{
    width: 560px;
}
.image-middle{
    width: 340px;
    margin: 0px 30px;
    padding-top: 80px;
}
.image-middle img{
    width: 340px;
    transition: width 0.2s, height 0.2s;
}
.image-middle img:hover{
    width: 360px;
}
#contact{
    width: 100%;
    margin: 0px auto;
    z-index: 4;
    position: relative;
}
#contact .center-block{
    display: flex;
    justify-content: space-around;
}
.info{
    width: 50%;
    padding-top: 50px;
    position: relative;
    animation-name: info;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes info {
    from {left: 500px;}
    to {left: 0px;}
}
.info h2{
    margin-bottom: 25px;
    text-align: center;
    font-size: 25px;
}
.info ul{
    padding-top: 20px;
}
.info ul li{
    font-size: 22px;
    text-align: center;
    padding: 10px;
}
.text{
    position: relative;
    animation-name: text;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes text {
    from {top: 500px;}
    to {top: 0px;}
}
form{
    display: block;
}
.info table {
    font-size: 22px;
    width: 100%;
}
.info td{
    padding: 20px 0px;
}
label {
    cursor: default;
}
.required {
    color: red;
}
.info input[type="text"], .info input[type="email"], .info select{
    padding: 0 20px;
    width: 60%;
    height: 40px;
    background: none;
    border: none;
    border-bottom: 1px solid rgba(116,25,45, 0.4);
}
input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}
.info select {
    width: 90%;
    font-size: 1em;
}
option {
    font-weight: normal;
    display: block;
    white-space: nowrap;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
input[type="radio" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 5px 5px 0px 5px;
    padding: initial;
    border: initial;
    border-color: teal;
}
#poruka {
    width: 90%;
    height: 100px;
    background: none;
    border: 1px solid rgba(116,25,45, 0.4);
}
.button {
    padding: 10px 20px;
    margin-right: 25px;
    font-size: 20px;
    background-color: #fff;
    color: #8a3603;
    border-color: #8a3603;
    border-radius: 5px;
    transition: color 0.5s;
}
.button:hover{
    background: #8a3603;
    color: #fff;
}
#mapa{
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
iframe{
    width: 100%;
}
.author img{
    width: 200px;
    margin-left: 150px;
}